.container {
  width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 150;
}

.image {
  display: block;           
  margin: 0 auto 20px;   
  aspect-ratio: 4 / 3;   
  object-fit: cover;
  width: 100%;              
  max-width: 500px;        
  /*height: auto;*/
  border: 1px solid black;
  border-radius: 8px;
}

.h4 {
  font-size: 30px;
  font-weight: 350;
  margin-bottom: 20px;
}

.author {
  font-size: 17px;
  font-weight: 350;
  margin-top: 10px;
}

.text {
  font-size: 20px;
  /*font-weight: 600;
  margin-top: 20px;*/
  color: #333;
}

.p {
  color: #555;
  margin-bottom: 15px;
}

.message{
  margin-right: 10px;
  color: #fff;

}

.small {
  font-size: 15px;
  color: #999;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 4px solid #A68B03;
  border-radius: 5px;
    margin-left: 10px;
  margin-right: 10px;
}

.textareas {
  width: 700px;
  padding: 15px;
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  resize: vertical;
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  background-color: #A68B03;
  color: white;
  border: none;
  padding: 14px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #A68B03;
}

.news {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.h{
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.search{
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 150;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 15px 10px;
  }

  .textareas {
    width: 100%;
    margin-left: 0;
    margin-right: 10;
  }
  .button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .li {
    margin-left: 0;
    margin-right: 0;
  }
  .h4 {
    font-size: 24px;
    text-align: center;
  }
  .text, .p, .author {
    font-size: 16px;
  }
  .small {
    font-size: 13px;
  }
}
